<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
 <h1>Agent Table</h1>
  <a th:href = "@{/showNewAgentForm}" class="btn btn-primary btn-sm mb-3"> Add Agent </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <table border="1" class = "table table-striped table-responsive-md">
   <thead>
    <tr>
     <th>
     <center>
      Name &nbsp;&nbsp;&nbsp;
      </center>
     </th>
     <th>
     <center>
     City Name &nbsp;&nbsp;&nbsp;
     </th>
     </center>
     <th>
     <center>
      MaritalStatus&nbsp;&nbsp;&nbsp;
     </th>
     </center>
     <th>
     <center>
      Premium&nbsp;&nbsp;&nbsp;
      </center>
     </th>
      <th>
      <center>
      Actions&nbsp;&nbsp;&nbsp;
      </center>
     </th>
    
    </tr>
   </thead>
   <tbody>
    <tr th:each="agent : ${listAgent}">
     <td th:text="${agent.name}"></td>
     <td th:text="${agent.city}"></td>
     <td th:text="${agent.maritalStatus}"></td>
     <td th:text="${agent.premium}"></td>
     <td> <a th:href="@{/showFormForUpdate1/{agentId}(agentId=${agent.agentId})}" class="btn btn-primary">Update Agent</a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a th:href="@{/deleteAgent/{agentId}(agentId=${agent.agentId})}" class="btn btn-danger">Delete Agent</a>
     </td>
    </tr>
   </tbody>
  </table>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/}"> Back to Table</a>
</body>
</html>